{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <div class="container py-4">
        <div class="row">
            {% for data in dataEsp %}
                <div class="col-md-4 mb-4">
                    <div class="card">
                        <div class="card-body">
                            <h5 class="card-title">{{ data.RF }}</h5>
                            <p class="card-text">
                                {{ data.DESIGNATION }}
                            </p>
                            <button type="button" class="btn btn-primary" data-bs-toggle="modal"
                                    data-bs-target="#sirDetails{{ data.ID }}">
                                Voir les détails
                            </button>
                        </div>
                    </div>
                </div>

                <!-- Modal -->
                <div id="sirDetails{{ data.ID }}"
                     class="modal fade"
                     data-bs-backdrop="static"
                     data-bs-keyboard="false"
                     tabindex="-1"
                     aria-labelledby="sirDetails{{ data.ID }}
                     Label" aria-hidden="true">

                    <div class="modal-dialog">
                        <div class="modal-content">
                            <div class="modal-header">
                                <h1 class="modal-title fs-5" id="staticBackdropLabel">{{ data.RF }}</h1>
                                <button type="button"
                                        class="btn-close"
                                        data-bs-dismiss="modal"
                                        aria-label="Close">
                                </button>
                            </div>
                            <div class="modal-body">
                                <form action="">
                                    <fieldset>
                                        <legend class="bg-light p-2 rounded">Informations</legend>

                                        <div class="mb-3">
                                            <label for="type_esp" class="form-label">Type ESP</label>
                                            <input type="text" id="type_esp" class="form-control"
                                                   value="{{ data.TYPE_ESP }}" disabled
                                            >
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-6">
                                                <label for="localisation" class="form-label">Localisation</label>
                                                <input type="text" id="localisation" class="form-control"
                                                       value="{{ data.LOCALISATION }}" disabled
                                                >
                                            </div>
                                            <div class="col-6">
                                                <label for="niveau" class="form-label">Niveau</label>
                                                <input type="text" id="niveau" class="form-control"
                                                       value="{{ data.NIVEAU }}" disabled
                                                >
                                            </div>
                                        </div>

                                        <legend class="bg-light p-2 rounded">BLN</legend>

                                        <div class="mb-3 row">
                                            <div class="col-6">
                                                <label for="essv" class="form-label">ESSV</label>
                                                <input type="text" id="essv" class="form-control"
                                                       value="{{ data.BLN_ESSV }}" disabled
                                                >
                                            </div>
                                            <div class="col-6">
                                                <label for="espn" class="form-label">ESPN</label>
                                                <input type="text" id="espn" class="form-control"
                                                       value="{{ data.BLN_ESPN }}" disabled
                                                >
                                            </div>
                                        </div>
                                        <div class="mb-3">
                                            <label for="reevalution_periodique" class="form-label">
                                                Réévaluation périodique
                                            </label>
                                            <input type="text" id="reevalution_periodique" class="form-control"
                                                   value="{{ data.BLN_REEVALUATION_PERIODIQUE }}" disabled
                                            >
                                        </div>
                                        <div class="mb-3 row">
                                            <div class="col-6">
                                                <label for="niveau_espn" class="form-label">
                                                    Niveau ESPN
                                                </label>
                                                <input type="text" id="niveau_espn" class="form-control"
                                                       value="{{ data.NIVEAU_ESPN }}" disabled
                                                >
                                            </div>
                                            <div class="col-6">
                                                <label for="classement_eip" class="form-label">
                                                    Classement EIP
                                                </label>
                                                <input type="text" id="classement_eip" class="form-control"
                                                       value="{{ data.CLASSEMENT_EIP }}" disabled
                                                >
                                            </div>

                                        </div>
                                    </fieldset>
                                </form>
                            </div>
                            <div class="modal-footer">
                                <span class="text-muted">
                                    Dernière mise à jour le {{ data.DATE_MAJ | format('LONG') }}
                                </span>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}
